.menu_tester_container_outer {
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 400px;
    height: 300px;
}

.dial_form {
    background-color: #eaeaea;
    z-index: 0;
    position: absolute;
    width: 350px;
    height: 400px;
    padding: 30px;
}

.backspace_button {
    margin: 5px;
}

.phone_input {
    margin-left: 30px;
}

.button_container {
    margin-left: 50px;
    margin-top: 10px;
}

@keyframes slide-left {
    from {right: -257px}
    to {right: 94px}
}

@keyframes slide-right {
    from {right: 0px}
    to {right: -257px}
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
  
    20% {
      transform: translateX(-10px);
    }
  
    40% {
      transform: translateX(10px);
    }
  
    60% {
      transform: translateX(-10px);
    }
  
    80% {
      transform: translateX(10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }

.menu_tester_toggle_btn {
    display: inline-block;
    background-color: #57b6ff;
    color: white;
    border-radius: 20%;
    border: none;
    padding: 10px;
    margin-top: 114px;
    /* position: absolute; */
}

.menu_tester_toggle_btn:hover {
    background-color: #4ba1e2;
}

.dial_form_container {
    position: absolute;
    width: 300px;
    height: 400px;
    display: inline-block;
}

.menu_tester_container {
    position: absolute;
    width: 300px;
    height: 400px;
    right: -257px;
}

.menu_tester_container_revealed {
    animation: slide-left 0.5s;
    animation-fill-mode: forwards;
}

.menu_tester_container_hidden {
    animation-name: slide-right;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dialler_error {
    animation: shake .5s ease-in-out;
    color: red;
}

.call-button {
    background-color: green;
    border-radius: 50%;
    border: none;
    margin-left: 78px;
    margin-right: 1px;
    height: 50px;
}

.call-button:hover {
    background-color: rgb(2, 108, 2);
}

.call-button:active {
    background-color: green;
}

.call-button .call-icon {
    color: white;
    padding: 8px;
}

.dial-button {
    padding: 10px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.page_display {
    background-color: white;
    border: black;
    padding: 50px;
    width: 200px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    position: absolute;
}

.page_display_plus_bg_container {
    position: absolute;
    /* z-index: 1; */
}

.page_display_container {
    height: 400px;
    width: 300px;
    padding: 30px;
}

.page_display_bg {
    background-color: black;
    opacity: 20%;
    width: 350px;
    height: 400px;
    position: absolute;
}

.ussd_prompt_input {
    margin: 7px 0 7px 0;
    outline: 0;
    border-width: 0 0 2px;
    padding-top: 15px;
}

.ussd_prompt_input:focus {
    border-color: #57b6ff;
}

.ussd_prompt_button {
    margin: 5px 0px 0px 9px;
    border-width: thin;
    padding: 12px;
    border-radius: 15%;
}

.ussd_prompt_button:hover {
    background-color: rgb(232, 230, 230);
}

.ussd_prompt_button_container {
    display: inline;
}
