.page_container_overflow {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-x: scroll;
    background-color: #dbdbdb;
}

.page_container_horizontal {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    position: absolute;
    transform: translateY(+75%);
    align-items: center;
}

.page_container_vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}