.delete_button {
    background-color: red;
    color: white;
    border-radius: 100%;
    border: none;
    position: absolute;
    bottom: 93%;
    right: -3%;
}

.delete_button:hover {
    background-color: rgb(195, 3, 3);
}