.page {
    margin: 10px;
}

.page_content {
    padding: 50px;
    width: 250px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    background-color: white;
}

.page_context {
    margin-bottom: 10px;
}

.page_option {
    margin-bottom: 3px;
}

.add_option_button {
    opacity: 30%;
    background-color: #c4c4c4;
    /*color: white;*/
    border-radius: 15%;
    border-color: grey;
    border-width: 0.01em;
}

.add_option_button:hover {
    opacity: 60%;
    color: white;
    border-color: white;
    background-color: grey;
}
